/* Main CSS */

* {
	box-sizing: border-box;
}
body {
	padding-top: 70px;
	font: Verdana sans-serif;
	color: #333333;
	background: #FAFAFA;
}
a {
	text-decoration: none;
	outline: none;
}
header {
	width: 100%;
	height: 70px;
	background-color: #6720a3;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
	box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.5);
}
header > h1 {
	margin: 20px 30px;
	text-align: left;
	color: #FAFAFA;
	font-size: 20px;
}
.details {
	font-size: smaller;
}
.error {
	background-color: #FCC;
}
h2 {
	border-bottom: thin gray solid;
}
input {
	font-family: monospace;
}
canvas {
	float: right;
}
/* Prev and next buttons */

.prev-on,
.prev-off,
.next-on,
.next-off,
.eye {
	display: inline-block;
	width: 16px;
	height: 16px;
}
.prev-on,
.next-on,
.eye {
	cursor: pointer
}
.prev-on {
	background-image: url(img/prev_on.png);
}
.prev-off {
	background-image: url(img/prev_off.png);
}
.next-on {
	background-image: url(img/next_on.png);
}
.next-off {
	background-image: url(img/next_off.png);
}
.eye {
	background-image: url(img/eye.png);
}
/* Table */

table.loading * {
	color: #666 !important;
}
td,
th {
	border-bottom: thin gray solid;
	border-right: thin gray solid;
	padding: 5px;
	text-align: center;
}
tr:hover > td,
th:hover {
	background-color: #EEE;
}
/* JSON fields */

.json {
	font-family: monospace;
	padding: 10px;
	border: thin gray solid;
	display: inline-block;
	white-space: pre;
	text-align: left;
}
.json-field {
	font-weight: bold;
	color: #660E7A;
}
.json-keyword {
	color: #505000;
}
.json-number {
	color: #0000FF;
}
.json-string {
	text-align: left;
	color: #008000;
	white-space: pre-wrap;
}
.json-date,
.json-regexp {
	text-align: left;
	color: #006000;
	white-space: pre;
	font-family: monospace;
}
.json-binary {
	color: #006060;
}
.json-id {
	text-align: left;
	color: #660E7A;
	white-space: pre;
	font-family: monospace;
}
.json .focus {
	background-color: #FCC;
	border: thin #F99 solid;
}
/* Window */

.window {
	position: fixed;
	height: 100%;
	width: 100%;
	left: 0;
	top: 0;
	z-index: 2;
	background-color: rgba(128, 128, 128, .25);
}
.window-content {
	position: fixed;
	height: 80%;
	width: 80%;
	left: 10%;
	top: 10%;
	background-color: #FAFAFA;
	border: 2px #CCCCCC solid;
	border-radius: 4px;
	box-shadow: 0px 2px 2px 0px rgba(50, 50, 50, 0.5);
	padding: 15px;
	overflow: auto;
}
.window-content >:last-child {
	margin-bottom: 15px;
	margin-right: 15px;
}
/* Panels */

.panel {
	width: 33%;
	display: inline-block;
	float: left;
	overflow: auto;
	text-align: center;
}
/* Clear float */

.clear:after {
	clear: both;
	content: ".";
	width: 0;
	height: 0;
	display: block;
	overflow: hidden;
}
/* Menu */

.menu {
	position: fixed;
	border: thin #6720a3 solid;
	box-shadow: 3px 3px 3px 0 rgba(0, 0, 0, .5);
	background-color: white;
	z-index: 1000;
}
.menu-item,
.menu-submenu {
	border-bottom: thin gray solid;
	padding: 3px;
	cursor: pointer;
	white-space: pre;
	padding-right: 1.5em;
}
.menu-item-disabled {
	cursor: auto;
	background-color: #CCC !important;
	color: #666;
}
.menu-item:hover,
.menu-submenu:hover {
	background-color: #DBF;
}
.menu-submenu-active {
	background-color: #DCF;
}
.menu-submenu::after {
	content: '\25b6';
	font-size: smaller;
	position: absolute;
	right: 5px;
}
.menu.menu-rtl > .menu-submenu::after {
	content: '\25c0';
	left: 5px;
}
.menu.menu-rtl > .menu-item,
.menu.menu-rtl > .menu-submenu {
	padding-left: 1.5em;
	padding-right: 3px;
}