/* Main CSS */

* {
	box-sizing: border-box;
}

body {
	padding: 60px 0px;
	font-family: sans-serif;
	color: #222222;
	background: #fff;
	min-width: 100%;
	position: absolute;
	margin: 0;
}

a {
	text-decoration: none;
	outline: none;
}

header {
	width: 100%;
	height: 60px;
	background-color: #445588;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
}

.header-content {
	display: inline-block;
}

header h1 {
	margin: 0 20px;
	text-align: left;
	color: #FAFAFA;
	font-size: 20px;
	line-height: 60px;
	display: inline-block;
}

.border-btn {
	height: 30px;
	border-radius: 5px;
	background-color: transparent;
	border: solid 1px #4488CC;
	color: #4488CC;
	font-size: 12px;
	padding: 0 20px;
}

.border-btn:hover {
	background-color: #ddd;
	cursor: pointer;
}

.border-btn:active {
	background-color: #fafafa;
	cursor: pointer;
}

.header-btn {
	height: 30px;
	border-radius: 5px;
	background-color: transparent;
	border: solid 1px #ffffff;
	color: #ffffff;
	font-size: 12px;
	padding: 0 20px;
	margin-right: 5px;
}

.header-btn:hover {
	background-color: #dddddd22;
	cursor: pointer;
}

.header-btn:active {
	background-color: #fafafa22;
	cursor: pointer;
}

.header-btn:disabled {
	background-color: #4488CC;
	cursor: default;
	border: solid 1px #4488CC;
}

.execute-btn {
	height: 30px;
	border-radius: 5px;
	background-color: #2E7D32;
	border: none;
	color: white;
	font-size: 12px;
	padding: 0 20px;
}

.execute-btn:hover {
	background-color: rgb(28, 87, 31);
	cursor: pointer;
}

.execute-btn:active {
	background-color: rgb(62, 143, 66);
}

.query-buttons {
	margin: 0;
	display: inline-block;
}

#query-form {
	background-color: #eee;
	padding: 10px 20px;
	color: #757575;
}

#sticky-table-header {
	position: absolute;
	background-color: #FAFAFA;
	display: none;
}

.pagination {
	margin: 0;
	padding: 10px 20px;
	height: 50px;
}

.pagination-text {
	line-height: 30px;
	color: #4488cc;
	font-size: 12px;
}

.details {
	font-size: smaller;
}

.error {
	background-color: #FCC;
}

input {
	font-family: monospace;
}

canvas {
	float: right;
}


/* Icon buttons */

.prev-on,
.prev-off,
.next-on,
.next-off,
.eye,
.map,
.add,
.delete,
.toggle {
	display: inline-block;
	width: 16px;
	height: 16px;
}

.prev-on,
.next-on,
.eye,
.map,
.add,
.delete,
.toggle {
	cursor: pointer
}

.prev-on {
	background-image: url(img/prev_on.png);
}

.prev-off {
	background-image: url(img/prev_off.png);
}

.next-on {
	background-image: url(img/next_on.png);
}

.next-off {
	background-image: url(img/next_off.png);
}

.eye {
	background-image: url(img/eye.png);
}

.map {
	background-image: url(img/map.png);
}

.add {
	background-image: url(img/add.png);
}

.delete {
	background-image: url(img/delete.png);
}

.toggle {
	background-image: url(img/toggle.png);
	width: 10px;
	height: 10px;
	position: relative;
	top: 1px;
}

pre .add,
pre .delete {
	margin-bottom: -4px;
}


/* Table */

table.loading * {
	color: #666 !important;
}

td,
th {
	border-bottom: thin gray solid;
	border-right: thin gray solid;
	padding: 5px;
	text-align: center;
}

.populated {
	border-bottom: thin gray dashed;
	border-right: thin gray dashed;
}

.populated-fail {
	border-bottom: thin darkred dashed;
	border-right: thin darkred dashed;
}

tr:hover>td,
th:hover {
	background-color: #DDD;
}

tr.selected>td {
	background-color: #CCF;
}


/* JSON fields */

.json {
	font-family: monospace;
	padding: 10px;
	border: thin gray solid;
	display: inline-block;
	white-space: pre;
	text-align: left;
}

.json-field {
	font-weight: bold;
	color: #660E7A;
}

.json-keyword {
	color: #505000;
}

.json-number {
	color: #0000FF;
}

.json-string {
	text-align: left;
	color: #008000;
	white-space: pre-wrap;
}

.json-date,
.json-regexp {
	text-align: left;
	color: #006000;
	white-space: pre;
	font-family: monospace;
}

.json-binary {
	color: #006060;
	font-family: monospace;
}

.json-id {
	text-align: left;
	color: #660E7A;
	white-space: pre;
	font-family: monospace;
}

.json .focus {
	background-color: #FCC;
	border: thin #F99 solid;
}


/* Window */

.window {
	position: fixed;
	height: 100%;
	width: 100%;
	left: 0;
	top: 0;
	z-index: 2;
	background-color: rgba(128, 128, 128, .25);
}

.window-content {
	position: fixed;
	height: 80%;
	width: 80%;
	left: 10%;
	top: 10%;
	background-color: #FAFAFA;
	border: 2px #CCCCCC solid;
	border-radius: 4px;
	box-shadow: 0px 2px 2px 0px rgba(50, 50, 50, 0.5);
	padding: 15px;
	overflow: auto;
}

.window-content>:last-child {
	margin-bottom: 15px;
	margin-right: 15px;
}


/* Panels */

.panel {
	width: 33%;
	display: inline-block;
	float: left;
	overflow: auto;
	text-align: center;
}


/* Clear float */

.clear:after {
	clear: both;
	content: ".";
	width: 0;
	height: 0;
	display: block;
	overflow: hidden;
}


/* Menu */

.menu {
	position: fixed;
	border: thin #6720a3 solid;
	box-shadow: 3px 3px 3px 0 rgba(0, 0, 0, .5);
	background-color: white;
	z-index: 1000;
}

.menu-item,
.menu-submenu {
	border-bottom: thin gray solid;
	padding: 3px;
	cursor: pointer;
	white-space: pre;
	padding-right: 1.5em;
}

.menu-item-disabled {
	cursor: auto;
	background-color: #CCC !important;
	color: #666;
}

.menu-item:hover,
.menu-submenu:hover {
	background-color: #DBF;
}

.menu-submenu-active {
	background-color: #DCF;
}

.menu-submenu::after {
	content: '\25b6';
	font-size: smaller;
	position: absolute;
	right: 5px;
}

.menu.menu-rtl>.menu-submenu::after {
	content: '\25c0';
	left: 5px;
}

.menu.menu-rtl>.menu-item,
.menu.menu-rtl>.menu-submenu {
	padding-left: 1.5em;
	padding-right: 3px;
}


/* Custom select and input */

.custom-select>select,
.custom-input>input {
	font-family: monospace;
}

.custom-select>span,
.custom-input>span {
	cursor: pointer;
	border-bottom: thin gray dashed;
	display: inline-block;
}

.custom-select>span:hover,
.custom-input>span:hover {
	background-color: rgba(103, 32, 163, 0.25);
}

ol#plot-series {
	margin-bottom: 0;
	margin-top: 0;
}

.plot-field-target {
	border-color: #33F;
	background-color: #CCF;
	cursor: pointer;
}

.plot-wrapper {
	position: fixed;
	bottom: 0;
	right: 0;
	border: thin black solid;
	background-color: white;
	box-sizing: content-box;
}

.plot-canvas {
	width: 100%;
	height: 100%;
}

.plot-actions {
	position: absolute;
	top: 5px;
	left: 5px;
}

.auto-complete-results {
	position: absolute;
	border: thin #6720a3 solid;
	box-shadow: 3px 3px 3px 0 rgba(0, 0, 0, .5);
	background-color: white;
	z-index: 1000;
}

.auto-complete-result {
	border-bottom: thin gray solid;
	padding: 3px;
	cursor: pointer;
	white-space: pre;
	padding-right: 1.5em;
}

.auto-complete-result.active {
	background-color: #DBF;
}